<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
          <form class="box" id="update_employee" action="/employees/update" accept-charset="UTF-8" method="patch"><input
              type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <div><label for="employee_id">Name</label><br>

              <input autofocus="autofocus" type="hidden" name="employee[id]" id="employee_id"
                value="<%=@employee.id %>">
            </div>
            <div><label for="employee_name">Name</label><br>

              <input autofocus="autofocus" type="text" name="employee[name]" id="employee_name"
                value="<%=@employee.name%>">
            </div>
            <br>
            <div><label for="employee_surname">Surname</label><br>

              <input autofocus="autofocus" type="text" name="employee[surname]" id="employee_surname"
                value="<%=@employee.surname%>">
            </div>
            <br>
            <div><label for="employee_email">Email</label><br>

              <input autofocus="autofocus" type="email" name="employee[email]" id="employee_email"
                value="<%=@employee.email%>">
            </div>

            <br>
            <br>

            <input type="submit" name="commit" value="Update employee" data-disable-with="Submit">
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
