<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container">

      <center>

        <thead>
          <table id="myTable" class="table">
            <tr>
              <th><abbr title="Employee name">First Name</abbr></th>
              <th><abbr title="Employee last name">Last Name</abbr></th>
              <th><abbr title="e-mail">e-mail</abbr></th>
              <th><abbr title="e-mail">Actions</abbr></th>
              <th><abbr title="e-mail"> <a class="button is-success" href="/employees/new">
                    Create employee
                  </a></abbr></th>


            </tr>
            <% @employees.each do |employee| %>
            <tr>
              <td style="display:none;"><%=employee.id%></td>
              <td><%=employee.name%></td>
              <td><%=employee.surname%></td>
              <td><%=employee.email%></td>
              <td><a href="/employees/edit/<%=employee.id%>">Edit</a>
              <td>
            </tr>
            <%end%>
          </table>
    </div>

    </center>
  </div>
  </div>
</section>
