<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
          <div class="box">
            <%if @employee.save%>
            <center>
              <%=image_tag("success_form.jpeg")%>
              <br>
              <br>
              <h3><strong>Success!</strong></h3>
            </center>
            <br>
            <br>
            <div class="columns">
              <div class="column">
                <a class="button is-success" href="/employees/index">
                  Back to list
                </a>
              </div>
              <div class="column">
                <a class="button is-success" href="/employees/new">
                  Add another
                </a>
              </div>
            </div>
            <%else%>
            <center>
              <%=image_tag("warning.png")%>
              <br>
              <br>
              <h3><strong>Adding employee failed! Perhaps and employee with such e-mail already exists in system, or you
                  forgot to fill some field! </strong></h3>
            </center>
            <br>
            <br>
            <div class="columns">
              <div class="column">
                <a class="button is-success" href="/employees/index">
                  Back to list
                </a>
              </div>
              <div class="column">
                <a class="button is-success" href="/employees/new">
                  Try again
                </a>
              </div>
            </div>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
