<% is_taken = "" %>
<% current_event = "" %>

<section class="hero is-primary is-fullheight">
 <div class="hero-body">
<div class="container">
<center>

<div class="columns">
  <div class="column">
  <div class= "box">
   <a href="<%=reservations_list_path%>"><%=image_tag("schedule.png")%></a>
    Schedule of reservations
    </div>
  </div>
  <div class="column">
    <div class= "box">
  <a href="<%=new_bicycle_event_path%>"><%=image_tag("reservation.png")%></a>
    Reservation for myself
    </div>
  </div>
  <div class="column">
    <div class= "box">
  <a href="<%=new_bicycle_event_for_path%>"><%=image_tag("bicycle.jpg")%></a>
    Reservation for employee
    </div>
  </div>
  <%if current_employee.is_admin?%>
  <div class="column">
  <div class= "box">
  <a href="<%=edit_reservations_path%>"><%=image_tag("edit_reservation.jpg")%></a>
    Edit reservations
  </div>
  </div>
  <div class="column">
  <div class= "box">
  <a href="<%=employees_path%>"><%=image_tag("manager.png")%></a>
    Employees
  </div>
  </div>
  <%end%>
</div>

<center>
<table id="index" class="table">
  <thead>
    <tr>
      <th><abbr title="Model">Bicycle model</abbr></th>
      <th><abbr title="Times">Times reserved:</abbr></th>
      <th><abbr title="Availability">Available now?</abbr></th>
      <th><abbr title="Next">Available for next reservation at:</abbr></th>
    </tr>

    <% @bicycles.each do |cycle| %>
      <%cycle.bicycle_events.each do |event|%>
        <% current_event = event %>
        <% is_taken = event.bike_taken? %>
          <%if is_taken %>
          <%break%>
        <%else%>
          <% is_taken %>
        <%end%>
      <%end%>
      <tr>
        <td><%= cycle.model %></td>
        <td><%= cycle.bicycle_events.count %></td>
        <%if is_taken == false %>
          <td>Yes!</td>
        <%else%>
          <td>No (current user: <%= "#{current_event.employee.name}" + " #{current_event.employee.surname}" %>)</td>
        <%end%>
        <%if is_taken %>
          <td><%=current_event.finished%></td>
        <%else%>
          <td>Available now!</td>
        <%end%>
      </tr>
    <%end%>
  </table>
  </center>
  </center>
  </div>
  </div>
  </section>
