<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container">
      <center>
        <select id="list" onchange="filters()" class='form-control'>
          <option value="" placeholder="option">Select Model</option>
          <%@bicycles.each do |cycle| %>
          <option value="<%=cycle.model%>"><%=cycle.model%></option>
          <%end%>
        </select>

        <table id="Table" class="table">
          <thead>
            <tr>
              <th><abbr title="Bicycle">Bicycle model</abbr></th>
              <th><abbr title="Manager">Employee</abbr></th>
              <th><abbr title="Started">Reservation start</abbr></th>
              <th><abbr title="Won">Reservation end</abbr></th>
            </tr>
            <% @events.each do |events| %>
            <tr>
              <td><%=events.bicycle.model%></td>
              <td><%="#{events.employee.name}" + " #{events.employee.surname}" %></td>
              <td><%=events.started%></td>
              <td><%=events.finished%></td>
            </tr>
            <%end%>
        </table>
    </div>

    </center>
  </div>
  </div>
</section>

<script>
function filters() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("list");
  filter = input.value.toUpperCase();
  table = document.getElementById("Table");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
