<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">

          <input type="hidden" id="timezone" name="timezone" value="+02:00">

          <% if current_page?(action: 'reserve_for') %>

          <form class="box" id="new_bicycle_event" action="/bicycles/reserve_for/submit" accept-charset="UTF-8"
            method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <%=image_tag("bikegif.gif")%>

            <select name="bicycle_event[employee_id]" id="bicycle_event_employee_id">
              <%@employees.each do |employee| %>
              <option value="<%=employee.id%>"><%= "#{employee.name}" + " #{employee.surname}"%></option>
            <% end %>
            </select><br /><br />

          <% else %>

            <form class="box" id="new_bicycle_event" action="/bicycles/reserve/submit" accept-charset="UTF-8"
              method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <%=image_tag("bikegif.gif")%>

          <% end %>

              <label for="bicycle_event_started">Start of usage</label>

              <input type="datetime-local" id="bicycle_event_started" name="bicycle_event[started]"
                value="<%= DateTime.now %>" min="<%= Time.now.strftime("%Y-%m-%dT%H:%M") %>" max=""><br /><br />

              <input type="datetime-local" id="bicycle_event_finished" name="bicycle_event[finished]"
                value="<%= DateTime.now %>" min="<%= Time.now.strftime("%Y-%m-%dT%H:%M") %>" max=""> <br /><br />

              <select name="bicycle_event[bicycle_id]" id="bicycle_event_bicycle_id">
                <%@bicycles.each do |bicycle| %>
                <option value="<%=bicycle.id%>"><%= bicycle.model %></option>
                <% end %>
              </select><br /><br />
              <input type="submit" name="commit" value="Reģistrēties" data-disable-with="Reģistrēties">
            </form>
        </div>
      </div>
    </div>
  </div>
</section>
