<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container">
        <center>
          <select id="list" onchange="filters()" class='form-control'>
            <option value="" placeholder="option">Select Employee</option>
            <%@employees.each do |employee| %>
            <option value="<%=employee.id%>"><%=employee.name%></option>
            <%end%>
          </select>

            <table id="Table" class="table">
              <thead>
                <tr>
                  <th><abbr title="Model">Model</abbr></th>
                  <th><abbr title="Started">Reservation start</abbr></th>
                  <th><abbr title="Finished">Reservation end</abbr></th>
                </tr>
                 <% @employees.each do |employee| %>
                 <% employee.bicycle_events.each do |event| %>
                <tr>
                <td style="display:none;"><%=event.employee.id%></td>
                  <td><%=event.bicycle.model%></td>
                  <td><%=event.started%></td>
                  <td><%=event.finished%></td>
                  <td><a href="/edit_reservations/edit/<%=event.id%>">Edit</a><td>
                  </tr>
                  <%end%>
                  <%end%>
            </table>
          </div>

</center>
    </div>
  </div>
</section>

<script>
function filters() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("list");
  filter = input.value.toUpperCase();
  table = document.getElementById("Table");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>


