<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">

          <input type="hidden" id="timezone" name="timezone" value="+02:00">

          <form class="box" id="edit_bicycle_event" action="/bicycles/update_reservation" accept-charset="UTF-8"
            method="patch">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <%=image_tag("bikegif.gif")%>

            <input autofocus="autofocus" type="hidden" name="bicycle_event[id]" id="bicycle_event_id"
              value="<%=@event.id%>">

            <label for="bicycle_event_started">Start of usage</label>

            <input type="datetime-local" id="bicycle_event_started" name="bicycle_event[started]"
              value="<%= @event.started %>" min="<%= Time.now.strftime("%Y-%m-%dT%H:%M") %>" max=""><br /><br />

            <input type="datetime-local" id="bicycle_event_finished" name="bicycle_event[finished]"
              value="<%= @event.started %>" min="<%= Time.now.strftime("%Y-%m-%dT%H:%M") %>" max=""> <br /><br />

            Change bicycle or employee: <input type="checkbox" id="Check" onclick="enable()">

            <select name="bicycle_event[bicycle_id]" id="bicycle_event_bicycle_id" disabled>
              <option value="<%@event.bicycle.id%>"><%= @event.bicycle.model %></option>
            </select>

            <select name="bicycle_event[employee_id]" id="bicycle_event_employee_id" disabled>
              <option value="<%@event.employee.id%>"><%= @event.employee.name %></option>
              <%@employees.each do |employee| %>
              <option value="<%@event.bicycle.id%>"><%= @event.bicycle.model %></option>
              <%end%>
            </select>

            <input type="submit" name="commit" value="Reģistrēties" data-disable-with="Reģistrēties">
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  function enable() {
    var checkBox = document.getElementById("Check");
    var bicycle = document.getElementById("bicycle_event_bicycle_id");
    var employee = document.getElementById("bicycle_event_employee_id");

    if (checkBox.checked == true) {
      bicycle.disabled = false;
      employee.disabled = false
    }

    if (checkBox.checked == false) {
      bicycle.disabled = true;
      employee.disabled = true
    }
  }
</script>