<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
          <div class="box">
            <%if @event.save%>
            <center>
              <%=image_tag("success.jpg")%>
              <br>
              <br>
              <h3><strong>Success!</strong></h3>
            </center>
            <br>
            <br>
            <div class="columns">
              <div class="column">
                <a class="button is-success" href="<%= reservations_list_path %>">
                  Back to list
                </a>
              </div>
              <div class="column">
                <a class="button is-success" href="<%= new_bicycle_event_path %>">
                  Create another
                </a>
              </div>
            </div>
            <%else%>
            <center>
              <%=image_tag("not_success.jpg")%>
              <br>
              <br>
              <h3><strong>Adding reservation failed! Reservation for these times already exists! Check reservations <a
                    href="<%=reservations_list_path %>">schedule</a> before making a reservation!</strong></h3>
            </center>
            <br>
            <br>
            <div class="columns">
              <div class="column">
                <a class="button is-success" href="<%= reservations_list_path %>">
                  Back to list
                </a>
              </div>
              <div class="column">
                <a class="button is-success" href="<%= new_bicycle_event_path %>">
                  Try again
                </a>
              </div>
            </div>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>