<center>
<section class="hero is-primary is-fullheight">
<div class="hero-body">
  <div class="container">
    <div class="main">
      <div class="box small">
        <h2>Log in</h2>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <div class="control has-icons-left">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input", style: "width: 33%;" %>
                            <span class="icon is-small is-left">
                  <i class="fa fa-envelope"></i>
                </span>
          </div>
        </div>

        <div class="field">
        <div class="control has-icons-left">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "input", style: "width: 33%;"%>
        </div>
        </div>

        <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Log in" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  </div>
  </section>
</center>
