<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">


          <form class="box" id="new_employee" action="/sign_in" accept-charset="UTF-8" method="post"><input
              type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
            <%=image_tag("man_on_bike.jpg")%>
            <center>
              <div class="field">
                <label class="label">Log In</label>
            </center>
            <div class="field">
              <label class="label" for="employee_email">Email</label>
              <div class="control has-icons-left">
                <input type="email" name="employee[email]" id="employee_email" placeholder="your email" class="input"
                  required />
                <span class="icon is-small is-left">
                  <i class="fa fa-envelope"></i>
                </span>
              </div>
            </div>

            <div class="field">
              <label class="label" for="employee_password">Password</label>
              <div class="control has-icons-left">
                <input name="employee[password]" id="employee_password" placeholder="********" type="password"
                  class="input" required />
                <span class="icon is-small is-left">
                  <i class="fa fa-lock"></i>
                </span>
              </div>
            </div>


            <div class="actions">
              <button class="button is-success" name="commit" value="Log in" data-disable-with="Log in" />
              Log In
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
