<!DOCTYPE html>
<html>

<head>
  <title>Bicycles</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', media: 'all' %>
</head>

<body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="https://image.flaticon.com/icons/png/512/130/130066.png" width="40" height="190">
      </a>
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
        data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-success" href="/">
            Home
          </a>
          <a class="button is-light" href="/sign_out">
            Sign out
          </a>
        </div>
      </div>
    </div>
    </div>
  </nav>
       <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: "notification is-primary" %>
  <% end %>
  <%= yield %>
</body>

</html>
